
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Welcome</h2>
<h3>@Session["username"]!</h3>
<hr />
<p>Transection : <a href="#">click here</a></p>
<p>Events</p> : <a href="#">click here</a>

